<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Software</title>
    <link rel="stylesheet" href="/css/listar.css">
</head>
<body>
    <h1>Lista de Software</h1>

    <% if (messages.error_msg) { %> 
        <div class="alert alert-danger"><%= messages.error_msg %></div>
    <% } %>
    <% if (messages.success_msg) { %> 
        <div class="alert alert-success"><%= messages.success_msg %></div>
    <% } %>

    <!-- Filtros -->
    <form action="/software/listar" method="GET">
        <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
        <input type="date" name="fecha_vencimiento" value="<%= fecha_vencimiento %>">

        <label for="fecha_creacion">Fecha de Creación:</label>
        <input type="date" name="fecha_creacion" value="<%= fecha_creacion %>">

        <label for="fecha_modificacion">Fecha de Modificación:</label>
        <input type="date" name="fecha_modificacion" value="<%= fecha_modificacion %>">

        <button type="submit">Filtrar</button>
    </form>

    <!-- Tabla de Software -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Versión</th>
                <th>Fecha de Vencimiento</th>
                <th>Detalles de Licencia</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Modificación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% software.forEach(function(sw) { %>
            <tr>
                <td><%= sw.id_software %></td>
                <td><%= sw.nombre %></td>
                <td><%= sw.version %></td>
                <td><%= new Date(sw.fecha_vencimiento).toLocaleString('es-ES', { timeZone: 'UTC', hour12: false }) %></td>
                <td><%= sw.detalles_licencia %></td>
                <td><%= new Date(sw.fecha_creacion).toLocaleString('es-ES', { timeZone: 'UTC', hour12: false }) %></td>
                <td><%= new Date(sw.fecha_modificacion).toLocaleString('es-ES', { timeZone: 'UTC', hour12: false }) %></td>                
                <td>
                    <form action="/software/eliminar/<%= sw.id_software %>" method="POST" style="display:inline;">
                        <button type="submit">Eliminar</button>
                    </form>
                    <a href="/software/actualizar/<%= sw.id_software %>"><button>Actualizar</button></a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <button class="button-rdc" onclick="window.location.href='/software/alta'">Dar de alta Software</button>
    <button class="button-rdc" onclick="window.location.href='/ubicaciones/listar'">Volver a Lista de Ubicaciones</button>
</body>
</html>
