<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Ubicaci贸n</title>
    <link rel="stylesheet" href="/css/actualizar.css">
</head>
<body>
    <h1>Actualizar Ubicaci贸n</h1>

    <% if (messages.error_msg) { %> 
        <div class="alert alert-danger"><%= messages.error_msg %></div>
    <% } %>
    <% if (messages.success_msg) { %> 
        <div class="alert alert-success"><%= messages.success_msg %></div>
    <% } %>
    
    <form action="/ubicaciones/actualizar/<%= ubicacion.id_ubicacion %>" method="POST">
        <label for="nombre_ubicacion">Nombre de la Ubicaci贸n:</label>
        <input type="text" name="nombre_ubicacion" value="<%= ubicacion.nombre_ubicacion %>" required>

        <label for="departamento_responsable">Departamento Responsable:</label>
        <input type="text" name="departamento_responsable" value="<%= ubicacion.departamento_responsable %>" required>

        <button type="submit">Actualizar Ubicaci贸n</button>
        <button class="button-rdc" onclick="window.location.href='/ubicaciones/listar'">Cancelar</button>
    </form>
</body>
</html>
